<div class="row">
  <h1>Search for your local Citizens Advice</h1>
</div>
<div class="row">
  <div class="col-3">
    <%= form_tag(offices_path, method: :get) do %>
      <div class="mb-3">
        <%= text_field_tag(:search, params[:search], class: "form-control") %>
      </div>
      <div class="mb-3">
        <%= submit_tag("Search", class: "btn btn-primary") %>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <% if @local_authority.present? %>
    <p>The local authority for <%= params[:search].upcase %> is <%= @local_authority.name %>.</p>
  <% end %>
</div>

<% if @offices.present? %>
  <h2>Offices</h2>
  <p>We can't determine your location. These offices may be ineligible to you, please use a postcode to check eligiblity.</p>
  <%= render partial: 'offices', locals: { offices: @offices } %>
<% end %>

<% if @eligible_offices.present? %>
  <h2>Eligible offices</h2>
  <%= render partial: 'offices', locals: { offices: @eligible_offices } %>
<% end %>

<% if @ineligible_offices.present? %>
  <h2>Ineligible offices</h2>
  <%= render partial: 'offices', locals: { offices: @ineligible_offices } %>
<% end %>

<% if params[:search].present? && !@offices.present? && !@eligible_offices.present? && !@ineligible_offices.present? %>
  <p>No results, please try using a UK postcode.</p>
<% end %>
